Django==6.0.6
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2026.2

# Extensiones de desarrollo (shell_plus, runserver_plus, etc.)
django-extensions==4.1

# Manejo de imágenes de productos
Pillow==12.2.0

# Exportación de reportes a Excel
openpyxl==3.1.5
et_xmlfile==2.0.0

# Exportación de reportes a PDF
reportlab==5.0.0

# Utilidad para detección de codificación de archivos
charset-normalizer==3.4.7

requests==2.34.2

python-dotenv==1.2.2